@charset "UTF-8";
/* Css link*/
/* 1. 기본 컬러 세팅 - form, layout, commons에 사용 */
/* 2. 값 세팅 - form, layout, commons, content에 사용  */
/* Css link*/
/* 1. 기본 컬러 세팅 - form, layout, commons에 사용 */
/* 2. 값 세팅 - form, layout, commons, content에 사용  */
.tr {
  text-align: right;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.h-100-m {
  height: calc(100% - 1rem);
}

.flx-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.flx-row.gap-0 {
  gap: 0;
}

.flx-row.gap-1 {
  gap: .5rem;
}

.flx-row.gap-2 {
  gap: 1rem;
}

.flx-row.gap-3 {
  gap: 2rem;
}

.flx-row.row-top {
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.flx-row.flx-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flx-row.flx-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flx-row.flx-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 570px) {
  .flx-row.flx-mobile-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flx-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flx-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: .5rem;
}

.flx-col.gap-0 {
  gap: 0;
}

.flx-col.gap-1 {
  gap: .5rem;
}

.flx-col.gap-2 {
  gap: 1rem;
}

.flx-col.gap-3 {
  gap: 2rem;
}

.flx-col.flx-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flx-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flx-sb.flx-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flx-full > * {
  width: 100%;
}

.flx-shrink-0 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.flx-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.w-100 {
  width: 100% !important;
}

.h-10 {
  height: 10% !important;
}

.h-20 {
  height: 20% !important;
}

.h-30 {
  height: 30% !important;
}

.h-40 {
  height: 40% !important;
}

.h-50 {
  height: 50% !important;
}

.h-60 {
  height: 60% !important;
}

.h-70 {
  height: 70% !important;
}

.h-80 {
  height: 80% !important;
}

.h-90 {
  height: 90% !important;
}

.h-100 {
  height: 100% !important;
}

.opacity-0 {
  opacity: 0%;
}

.opacity-01 {
  opacity: 10%;
}

.opacity-02 {
  opacity: 20%;
}

.opacity-03 {
  opacity: 30%;
}

.opacity-04 {
  opacity: 40%;
}

.opacity-05 {
  opacity: 50%;
}

.opacity-06 {
  opacity: 60%;
}

.opacity-07 {
  opacity: 70%;
}

.opacity-08 {
  opacity: 80%;
}

.opacity-09 {
  opacity: 90%;
}

.opacity-1 {
  opacity: 100%;
}

.mr-1 {
  margin-right: .2rem;
}

.mr-2 {
  margin-right: .5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mr-5 {
  margin-right: 3rem;
}

.ml-1 {
  margin-left: .2rem;
}

.ml-2 {
  margin-left: .5rem;
}

.ml-3 {
  margin-left: 1rem;
}

.ml-4 {
  margin-left: 2rem;
}

.ml-5 {
  margin-left: 3rem;
}

.mt-1 {
  margin-top: .2rem;
}

.mt-2 {
  margin-top: .5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: .2rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.pr-1 {
  padding-right: .2rem;
}

.pr-2 {
  padding-right: .5rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pr-4 {
  padding-right: 2rem;
}

.pr-5 {
  padding-right: 3rem;
}

.pl-1 {
  padding-left: .2rem;
}

.pl-2 {
  padding-left: .5rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pl-4 {
  padding-left: 2rem;
}

.pl-5 {
  padding-left: 3rem;
}

.pt-1 {
  padding-top: .2rem;
}

.pt-2 {
  padding-top: .5rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pmt-4 {
  padding-top: 2rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pb-1 {
  padding-bottom: .2rem;
}

.pb-2 {
  padding-bottom: .5rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.v-visible {
  visibility: visible !important;
}

.v-hidden {
  visibility: hidden !important;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.only-mobile {
  display: none !important;
}

@media (max-width: 570px) {
  .only-mobile {
    display: block !important;
  }
}

.only-tablet {
  display: none !important;
}

@media (max-width: 758px) {
  .only-tablet {
    display: block !important;
  }
}

.only-under-desktop {
  display: none !important;
}

@media (max-width: 1200px) {
  .only-under-desktop {
    display: block !important;
  }
}

.only-labtop {
  display: none !important;
}

@media (min-width: 1024px) and (max-width: 1700px) {
  .only-labtop {
    display: block !important;
  }
}

.only-web {
  display: block !important;
}

@media (max-width: 570px) {
  .only-web {
    display: none !important;
  }
}

header.header-pc {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 85%;
  z-index: 100;
}

header.header-pc.hidden {
  z-index: -1;
}

header.header-pc .header-wrap {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30%;
}

header.header-pc .header-wrap .logo {
  display: inline-block;
}

header.header-pc .header-wrap .logo a {
  color: white;
  font-family: 'Lobster', cursive;
  font-weight: 100;
  font-size: 2rem;
  line-height: 1.2;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header.header-pc .header-wrap .logo p {
  color: white;
  opacity: .7;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  white-space: nowrap;
  margin-top: 10px;
}

header.header-pc .header-wrap .logo::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 20px;
  background: white;
  margin-top: 10px;
  transform: scaleX(0.05);
  transform-origin: 0 0;
  -webkit-transform: scaleX(0.05);
  -webkit-transform-origin: 0 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header.header-pc .header-wrap .logo:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  background: -webkit-gradient(linear, right top, left top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}

header.header-pc .header-wrap .logo:hover a {
  text-shadow: 0px 0px 10px white;
}

header.header-pc .header-wrap .menu {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  gap: 2.5rem;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

header.header-pc .header-wrap .menu li {
  width: 72px;
  height: 72px;
  border-radius: 20px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s;
  transition: all .3s;
}

header.header-pc .header-wrap .menu li a {
  display: block;
  width: 100%;
  height: 100%;
}

header.header-pc .header-wrap .menu li a span {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

header.header-pc .header-wrap .menu li a span.myIcon {
  background-position: 0px 5px;
}

header.header-pc .header-wrap .menu li a span.portfolioIcon {
  background-position: 0px -78px;
}

header.header-pc .header-wrap .menu li a span.studyIcon {
  background-position: 0px -160px;
}

header.header-pc .header-wrap .menu li a p {
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: .5rem;
}

header.header-pc .header-wrap .menu li:hover {
  background-color: #00b1ff;
}

header.header-mobile .hamburger-btn {
  display: inline-block;
  position: relative;
  background-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 2px;
  padding-bottom: 0;
  -webkit-transform: scale(2);
          transform: scale(2);
  border: none !important;
}

header.header-mobile .hamburger-btn:hover, header.header-mobile .hamburger-btn .on {
  cursor: pointer;
  -webkit-filter: invert(0.3);
          filter: invert(0.3);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

aside {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 85%;
  right: 0;
}

aside .aside-wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 30%;
  padding-left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

aside .update-box {
  border-radius: 20px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 8px;
}

aside .update-box * {
  color: white;
}

aside .update-box p {
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 300;
  opacity: .7;
}

aside .update-box strong {
  line-height: auto;
  font-size: 1rem;
  font-weight: 700;
}

aside .address-box {
  background-color: white;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  line-height: auto;
  font-size: 1rem;
  font-weight: 700;
}

aside .address-box p {
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 400;
  opacity: .6;
}

@media (min-width: 1200px) {
  .header-pc {
    display: block;
  }
  .header-mobile {
    display: none;
  }
  aside {
    display: block;
  }
}

@media (max-width: 1200px) {
  .header-pc {
    display: none;
  }
  .header-mobile {
    display: block;
  }
  aside {
    display: none !important;
  }
}
